<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1052604165053-i9ctkd27fhdku6tgu8sk11mdqtkkdt7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1052604165053-i9ctkd27fhdku6tgu8sk11mdqtkkdt7t</string>
	<key>API_KEY</key>
	<string>AIzaSyCO0cGDuOYSIjDlmuyZeVCTSOlHRDXwDfI</string>
	<key>GCM_SENDER_ID</key>
	<string>1052604165053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.VK</string>
	<key>PROJECT_ID</key>
	<string>vktest-18c00</string>
	<key>STORAGE_BUCKET</key>
	<string>vktest-18c00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052604165053:ios:a4892659951c1a57</string>
	<key>DATABASE_URL</key>
	<string>https://vktest-18c00.firebaseio.com</string>
</dict>
</plist>